.fondo1{
     background-color: orange;
    width: 150px;
    height: 150px;
 }
.fondo2{
    background-color: green;
    width: 150px;
    height: 150px;
}
.fondo3{
    background-color: hotpink;
    width: 150px;
    height: 150px;
}

.fondoT1{
    background-color: darkred;
    width: 150px;
    height: 150px;
}
.fondoT2{
    background-color:green;
    width: 150px;
    height: 150px;
}
.fondoT3{
    background-color: purple;
    width: 150px;
    height: 150px;
}
